<div class="container">
  <div class="row" style="margin-top: 50px;">
    <h5 class="alert alert-danger"> <%= @header_message %></h5>
      <div class="col-lg-12">
        <h4>Your Account</h4>
        <form class="" action="/account_home/update" method="post">
          <div class="form-group">
            <label for="username">Username: </label>
            <input type="username" class="form-control" name="username" value="">
          </div>
          <div class="form-group">
            <label for="mail">Email: </label>
            <input type="mail" class="form-control" name="user_email" value="">
          </div>
          <div class="form-group">
            <label for="first_name">First name:</label>
            <input type="text" class="form-control" name="first_name" value="">
          </div>
          <div class="form-group">
            <label for="last_name">Last name:</label>
            <input type="text" class="form-control" name="last_name" value="">
          </div>
          <div class="form-group">
            <label for="password">New password: </label>
            <input type="password" class="form-control" name="password_hash" value="">
          </div>
          <div class="form-group">
            <label for="password">Confirm new password: </label>
            <input type="password" class="form-control" name="password_hash" value="">
          </div>
          <button type="submit" class="btn btn-primary" name="button">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
