<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img style="margin-top:50px; margin-left: 50px;" src="http://www.theoldrobots.com/images27/Johnny5-5.JPG" alt="" />
      <h2 style="text-align: center;">Johnny Five feels alive.</h2>
      <p style="text-align: center;">NO DISSASSEMBLE!</p>
    </div>
  </div>
</div>
